/* Noto Sans Tamil - Local Font for Offline Support */
@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NotoSansTamil-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NotoSansTamil-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(NotoSansTamil-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NotoSansTamil-Regular.ttf) format('truetype');
}
